extends index
block content
	h1 Public Groups
	#createGroup
		label Create public group : 
			input(id="groupName",autocomplete='off', placeholder='group name', autofocus)
			button(id="send") Create
	#publicGroup
		button(id="getGroup") Get Public Groups
