doctype html
html(lang='en')
	head
		title="NoisyHill"
		link(rel='stylesheet', href='//cdn.jsdelivr.net/normalize/3.0.1/normalize.min.css')
		link(type="text/css", href="/css/main.css", rel="stylesheet")
	body
		#error
		block content
	script(type="text/javascript", src="/js/jquery-2.1.1.min.js")
	script(type="text/javascript", src="/js/group.js")
