doctype html
html(lang='en')
	head
		title="NoisyHill"

		meta(name='viewport', content='initial-scale=1.0, width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(type="text/css", href="/css/private.css", rel="stylesheet")
	body
		block content
	script(type="text/javascript", src="/js/socket.io-1.2.0.js")
	script(type="text/javascript", src="/js/jquery-2.1.1.min.js")
	script(type="text/javascript", src="/js/private.js")
