extends index
block content
	//maybe change it later to form and do preventDefault
	#inputArea
		input(type="text", id="message", autocomplete='off', autofocus)
		button(id="send") send
	#messageContainer