extends index
block content
	#map-canvas
	#info
	//maybe change it later to form and do preventDefault
	#status
	#inputArea
		input(type="text", id="message", autocomplete='off', placeholder="message", autofocus)
		button(id="send") send
	#messageContainer
