body{
	font-family: helvetica;
	background: url("/img/confectionary.png");
}
#container{
	width: 50%;
	height:100px;
	margin: 100px auto;
	text-align: center;
}
input{
	font-family: helvetica;
	margin: 10px;
}
