body{
	background-color: #eee;
}
#message{
	width: 80%;
}
#inputArea{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 50px;
}
input{
	outline: none;
}
.me{
	border-bottom: 1px dashed black;
}
.other{
	border-bottom: 1px dotted black;
}
.who{
	float: right;
}
#map-canvas{
	width:200px;
	height:200px;
	position: absolute;
	top: 0px;
	right: 0px;
}