body{
	background-color: #eee;
	font-family: helvetica;
}
#message{
	width: 80%;
}
#inputArea{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 50px;
}
input{
	outline: none;
	font-family: helvetica;
}
.me{
	
}
.other{
	
}
.who{
	float: right;
}
#map-canvas{
	width:200px;
	height:200px;
	position: absolute;
	top: 0px;
	right: 0px;
}